
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import "tailwindcss";


:root {
 
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@theme {
  --color--primary-light: #ffffff;
  --color-primary-dark: #212224;
  --font-league: 'League Spartan', sans-serif;
}

.swiper-pagination img {
  width: 1.5%;
  height: auto;
  
}


.swiper-pagination-bullet {
  background: none !important; /* Remove default bullet background */
  border: none !important; /* Remove default bullet border */
}

.hideScrollBar {
  overflow-y: auto;     /* enable vertical scrolling */
  overflow-x: hidden;   /* hide horizontal scrollbar */
}

/* Scrollbar styling for vertical scrollbar */
.hideScrollBar::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.hideScrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1cbacf;
}
