
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import "tailwindcss";


:root {
 
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDEDED;
}



@theme {
  --color--primary-light: #ffffff;
  --color-primary-dark: #212224;
  --font-league: 'League Spartan', sans-serif;
}

.swiper-pagination img {
  width: 1.5%;
  height: auto;
  
}


.swiper-pagination-bullet {
  background: none !important; /* Remove default bullet background */
  border: none !important; /* Remove default bullet border */
}

.customScrollBar::-webkit-scrollbar
{
	width: 10px;
	background-color: fff;

}

.customScrollBar::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: #00baf3;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D)) 
}